.alert {
	position: fixed;
	height: 120px;
	width: 400px;
	top: -10vh;
	right: 3%;
	background-color: #f7f7f7;
	border: solid 1px hsl(0, 0%, 72%);
	border-radius: 8px;
	box-shadow: 0px 0px 14px -2px rgb(118, 118, 149);
	z-index: 20;
	overflow: hidden;
	animation-name: appear-animation, disappear-animation;
	animation-duration: 0.5s, 0.5s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
	animation-delay: 0s, 3s;
	animation-fill-mode: forwards;
	font-family: Arial, Helvetica, sans-serif;
}

.alert-title {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 15px;
}

.message {
	display: flex;
	justify-content: center;
	padding: 0px 10px;
	margin-top: 10px;
	text-align: center;
	font-size: 1rem;
}

.loading-bar {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 6px;
	width: 450px;
	background-color: #d9d9d9;
	border-radius: 8px 0px 0px 8px;
}

.loading-bar::after {
	content: '';
	display: block;
	position: relative;
	margin-left: auto;
	height: 6px;
	width: 40px;
	background-color: #1a92ee;
	animation: loading-animation 3s linear 1 forwards;
}

@keyframes loading-animation {
	0% {
		width: 100%;
	}
	100% {
		width: 0%;
	}
}
@keyframes appear-animation {
	0% {
		top: -5vh;
	}
	40% {
		top: 11vh;
	}
	55% {
		top: 8vh;
	}
	75% {
		top: 11vh;
	}
	90% {
		top: 10vh;
	}
	100% {
		top: 11vh;
	}
}
@keyframes disappear-animation {
	0% {
		top: 11vh;
	}
	20% {
		top: 13vh;
	}
	50% {
		opacity: 100%;
	}
	100% {
		top: -35vh;
		opacity: 0%;
		display: none;
	}
}
